Body
{
  background-color:bisque;
  font-family:Bai Janjuree
}

footer
{
  background-color:black;
  color:white;
  position:fixed;
  batton:0
  width:100%
  height<rem;
}

footer P
{
  text-align:center;
  font-size:0,6 rem;
  margin-top:0,5 rem;
}